.left-box{
    background: #75f357f0;
    color: white;
    border-bottom-right-radius: 22pc;
}
.font-sans-serif{
    font-family: 'Open Sans', sans-serif;
}
.head-font{
    font-size: 4rem;
    line-height: 61px;
}
.logo-img{
    height:98px;
    position: absolute;
}
.logo-img:hover{
    height:138px;
    
}